.button {
  width: 106px;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  outline: none;
  font-size: 14px;
  cursor: pointer;

  &_color_accent {
    background-image: var(--accent-gradient);
  }
}


